<nav class="navbar">
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/viewData">View All Data</a>
    <a href="/search/propertyLine">Search Properties</a>
    <a href="/viewData/price">Search by Price</a>
    <a href="/allData">Assignment 1 Data</a>
</nav>