<!DOCTYPE html>
<html>
<head>
    <title>{{title}} - ITE5315 Assignment 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="header">
    <h1>Dev Khilan Patel - N01708022</h1>
</div>

{{> navbar}}

<div class="content">
    {{{body}}}
</div>

<div class="footer">
    <p>ITE5315 Assignment 2 | Date: 28/10/2025</p>
</div>
</body>
</html>